@media only screen and (min-width: 1201px) {
    .search-form {
        width: 50% !important;
    }
}

.search-bar {
    width: 100%;
    height: 15vh;
    display: flex;
    position: relative;
    justify-content: center;
}

.search-form {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 75px;
    height: 5vh;
    display: flex;
    justify-content: center;
    top: 15%;
    position: absolute;
}

.ui.input {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    height: 35px;
    color: grey;
    border-radius: 25px;
    border: 1px solid lightgrey;
}

.return-link {
    margin-top: 10px;
    font-size: 20px;
}

.ui.input input {
    text-align: center;
}

.favourites {
    margin-top: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 5vh;
    right: 0;
    font-size: 22px;
    color: grey;
    padding: 20px;
}

.divider {
    border-bottom: 1px solid grey;
}

.favourites-text {
    margin-left: -15px;
}

.favourites:hover {
    cursor: pointer;
}

.return-link:hover {
    cursor: pointer;
}

.circle.icon {
    position: absolute;
    right: -5px;
    top: 0;
}

.number {
    position: absolute;
    font-size: 16px;
    color: white;
}

.search-history {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 18px;
    color: lightgrey;
    width: 100%;
}

.search-history-items {
    display: flex;
}

.search-history-items:hover {
    cursor: pointer;
}

.search-item:hover {
    color: grey;
}

.clear-history {
    margin-left: auto;
}

.clear-history:hover {
    cursor: pointer;
    color: grey;
}


